@media (max-width:800px){
    .geleverd {
        grid-column: 1/6;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        border-bottom-right-radius: 0px;
        background-color:#202020;
        opacity: 0.95;
        height: auto;
    }
}