@media (max-width:800px){

    .registreerWrapper {
        grid-column: 1/6;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;

    }

    .registreerButtonWrapper {
        grid-column: 1/6;
    }

    .loginKnop {
        font-size: 10px;
        grid-column: 1/6;
    }

    .registreerLabel {
        font-size: 20px;
    }


}